/* Reset y base */
/* box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total */
* {
    box-sizing: border-box;
}

/* Establecemos altura completa de página */
html, body {
    height: 100%;
}

/* El body se convierte en contenedor felx
    - flex-direction: column → apila verticalmente el headre, main y footer
    - min-height: 100vh → ocupa toda la altura de la ventana (vh = viewport height)
 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;      /* Altura total del viewport */
}

/* Centramos y rellenamos la cabecera */
/* CABECERA con FLEX: dos zonas → logo/titulo (marca) y menú (nav) */
.cabecera {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background: #2c3e50;
    display: flex;
    justify-content: space-between;     /* Posiciona brand izq. y nav derecha */
    align-items: center;        /* Centra verticalmente */
}

/* Tamaño de la imagen (logo) */
.logo {
    height: 100px;
    width: auto;
    /* display: block; */
    border-radius: 6px;
}

/* Título de la cabecera sin márgenes extra y color destacado */
/* .titulo {
    margin: 0;
    color: #2c3e50;
} */

/* Menú de navegación con flex */
.menu {
    list-style-type: none;
    display: flex;      /* Para colocar los enlaces/items en línea */
    flex-direction: row;        /* Por defento es row, por tanto podemos prescindir de esta línea */
    gap: 0.5rem;        /* Expacio entre enlaces */
    margin: 0;
    padding: 0;
}

.menu li {
    transition: transform 0.3s;
}

.menu li:hover {
    transform: scale(1.15);
}

/* Estilos básicos de los enlaces del menú */
.menu a{
    color: #fff;
    text-decoration: none;      /* Elimina el subrayado a los enlaces */
    font-weight: bold;      /* Aplica negrita a los enlaces */
    padding: 1rem;
    border-radius: 4px;
}

/* Efecto hover en los enlaces */
.menu a:hover {
    color: #e74c3c;
    background-color: #ffffff;
}

/* zona principal (main): aplicamos relleno */
#contenido-principal {
    padding: 1rem;
    flex-grow: 1;       /* IMPORTANTE para "empjujar" al footer hacia abajo */
    /* flex: 1;    Atajo de las propiedades flex-grow y flex-basics */
    display: flex;      /* Convierto al main como contenedor flexible */
    flex-direction: column;
    gap: 0.5rem;
}

/* Clase "tarjeta": usado para agrupar secciones visualmente */
.tarjeta {
    background: #fff;
    width: min(900px, 95%);
    margin: 1.5rem auto;      /* Centramos el contenido */
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    /* transition: transform 0.3s; */
}

/* .tarjeta:hover {
    transform: scale(1.05);
} */

/* Listas en dos comunas: usamos flexbox para alinear dos elementos en horizontal */
.listas {
    display: flex;          /* Contenedor flexible */
    flex-direction: row;    /* Los items se coloquen en filas */
    gap: 2rem;              /* Hueco entre columnas */
    flex-wrap: wrap;        /* Permite saltar a la siguiente linea en pantallas pequeñas */
    /* flex-flow: row wrap; (Atajo para flex-direction y flex-wrap */
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas */
}

.lista li {
    margin: 0.5rem 0;       /* Espacio vertical entre los elementos de las listas */
}

/* Tabla: 
    - width: ocupe todo el ancho
    - border-collapse: unir los bordes internos
 */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Bordes y relleno de la tabla */
.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabecera de la tabla con estilo diferenciado */
.tabla th {
    background: #2c3e50;
    color: #fff;
    text-align: center;
}

/* Contenido de tabla alineado a la izquierda */
.tabla td {
    text-align: left;
    white-space: nowrap;    /* Evita saltos de línea en celdas */
}

/* Estilo pie de página */
.pie {
    color: #7f8c8d;
    font-size: 14px;
    background: rgba(53, 53, 53, 0.178);
    text-align: center;
    padding: 1rem;
}

/* FORMULARIO DE REGISTRO Y CONTACTO */
input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}


#registro form, #contacto form {
    display: flex;
    flex-direction: column;
}

#registro form div, #contacto form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: bold;
    gap: 0.30rem;
}


#registro form div div input, #contacto form div div input {
    height: 1.5rem;
    padding: 0.4rem;
}

#contacto form div div select {
    padding: 0.2rem;
}

button[type="submit"], button[type="reset"] {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-width: 0.01rem;
    margin: 0.5rem 0rem 0rem auto;
    cursor: pointer;        /* Establece como es el cursor al estar sobre el botón */
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: rgb(225, 225, 225);
}