/* Reset y base */
/* box-sizing: para que tenga en cuenta el padding y el margin en el tamaño total */
* {
    box-sizing: border-box;
}

/* Establecemos altura completa de página */
html, body {
    height: 100%;
}

/* El body se convierte en contenedor felx
    - flex-direction: column → apila verticalmente el headre, main y footer
    - min-height: 100vh → ocupa toda la altura de la ventana (vh = viewport height)
 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;      /* Altura total del viewport */
}

/* Centramos y rellenamos la cabecera */
/* CABECERA con FLEX: dos zonas → logo/titulo (marca) y menú (nav) */
.cabecera {
    text-align: center;
    padding: 1rem;
    color: #fff;
    background: #2c3e50;
    display: flex;
    justify-content: space-between;     /* Posiciona brand izq. y nav derecha */
    align-items: center;        /* Centra verticalmente */
}

/* Tamaño de la imagen (logo) */
.logo {
    height: 100px;
    width: auto;
    /* display: block; */
    border-radius: 6px;
}

/* Título de la cabecera sin márgenes extra y color destacado */
/* .titulo {
    margin: 0;
    color: #2c3e50;
} */

/* Menú de navegación con flex */
.menu {
    list-style-type: none;
    display: flex;      /* Para colocar los enlaces/items en línea */
    flex-direction: row;        /* Por defento es row, por tanto podemos prescindir de esta línea */
    gap: 0.5rem;        /* Expacio entre enlaces */
    margin: 0;
    padding: 0;
}

.menu li {
    transition: transform 0.3s;
}

.menu li:hover {
    transform: scale(1.15);
}

/* Estilos básicos de los enlaces del menú */
.menu a{
    color: #fff;
    text-decoration: none;      /* Elimina el subrayado a los enlaces */
    font-weight: bold;      /* Aplica negrita a los enlaces */
    padding: 1rem;
    border-radius: 4px;
}

/* Efecto hover en los enlaces */
.menu a:hover {
    color: #e74c3c;
    background-color: #ffffff;
}

/* zona principal (main): aplicamos relleno */
#contenido-principal {
    padding: 1rem;
    flex-grow: 1;       /* IMPORTANTE para "empjujar" al footer hacia abajo */
    /* flex: 1;    Atajo de las propiedades flex-grow y flex-basics */
    display: flex;      /* Convierto al main como contenedor flexible */
    flex-direction: column;
    gap: 0.5rem;
}

/* Clase "tarjeta": usado para agrupar secciones visualmente */
.tarjeta {
    background: #fff;
    width: min(900px, 95%);
    margin: 1.5rem auto;      /* Centramos el contenido */
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    /* transition: transform 0.3s; */
}

/* .tarjeta:hover {
    transform: scale(1.05);
} */

/* Listas en dos comunas: usamos flexbox para alinear dos elementos en horizontal */
.listas {
    display: flex;          /* Contenedor flexible */
    flex-direction: row;    /* Los items se coloquen en filas */
    gap: 2rem;              /* Hueco entre columnas */
    flex-wrap: wrap;        /* Permite saltar a la siguiente linea en pantallas pequeñas */
    /* flex-flow: row wrap; (Atajo para flex-direction y flex-wrap */
}

/* Ajustes visuales de las listas */
.lista {
    padding-left: 20px;     /* Espacio para las viñetas */
}

.lista li {
    margin: 0.5rem 0;       /* Espacio vertical entre los elementos de las listas */
}

/* Tabla: 
    - width: ocupe todo el ancho
    - border-collapse: unir los bordes internos
 */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Bordes y relleno de la tabla */
.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabecera de la tabla con estilo diferenciado */
.tabla th {
    background: #2c3e50;
    color: #fff;
    text-align: center;
}

/* Contenido de tabla alineado a la izquierda */
.tabla td {
    text-align: left;
    white-space: nowrap;    /* Evita saltos de línea en celdas */
}

/* Estilo pie de página */
.pie {
    color: #7f8c8d;
    font-size: 14px;
    background: rgba(53, 53, 53, 0.178);
    text-align: center;
    padding: 1rem;
}

/* FORMULARIO DE REGISTRO Y CONTACTO */
input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}


#registro form, #contacto form {
    display: flex;
    flex-direction: column;
}

#registro form div, #contacto form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: bold;
    gap: 0.30rem;
}


#registro form div div input, #contacto form div div input {
    height: 1.5rem;
    padding: 0.4rem;
}

#contacto form div div select {
    padding: 0.2rem;
}

button[type="submit"], button[type="reset"] {
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-width: 0.01rem;
    margin: 0.5rem 0rem 0rem auto;
    cursor: pointer;        /* Establece como es el cursor al estar sobre el botón */
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: rgb(225, 225, 225);
}

/* ============================ */
/*       ZONA DE TIENDA         */
/* ============================ */

/* Aplicar estos estilos solo a los elementos que tengan las clases tienda y tarjeta a la vez */
.tienda.tarjeta {       /* Cambia solo el espacio */
    width: min(1600px, 95%);
}

/* Contenedor de las cards */
.lista-cards--flex{
    display: flex;                  /*  Activo el modelo Flex */
    flex-direction: row;            /* Es el valor por defecto igualmente */
    flex-wrap: wrap;                /* Permitir que las cards salten de línea si no caben */
    gap: 16px;                      /*Espacio uniforme entre las cards */
    justify-content: flex-start;        /* Centrar horizontalmente */
}

/* Card individual */
.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

.card-imagen {
    width: 100%;
    height: 180px;
    object-fit: contain;      /* Ajustamos la imagen recortándola */
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
}

/*
    Explicación object-fit: Contain asegura que la imagen se vea completa
    aunque tenga propociones diferentes, evitando recortes o deformaciones
*/

/* Textos */
.card-titulo {
    font-size: 1.1rem;
    color: #333;
    margin: 8px 0 4px;
}

.card-descripcion {
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5em;      /* Mantiene altura uniforme aunque cambie el texto */
}

.card-precio {
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
}

/* Botón de la card */
.card-boton {
    padding: 10px 16px;
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

/* 
    display: inline-block
    Se comporta como inline (se coloca en linea) pero permite aplicar las propiedades
    de bloque (ancho, alto, margin, padding, etc)
    Si no lo huvieramos puesto, no saltaria de línea, no puedes definir width, height, etc
*/

.practica-grid {
    width: min(1600px, 95%);
}

.grid-container {
    min-height: 400px;
    display: grid;                                  /* Activa el modo grid */
    /* grid-template-columns: 200px 200px 200px;       3 columnas de tamaño fijo */
    /* grid-template-columns: 1fr auto 1fr;            1 fr reparte el espacio sobrante por igual */
    grid-template-columns: 75px 125px 75px;
    grid-template-rows: 100px 100px;                /* 2 filas de tamaño fijo */
    /* gap: 15px;                                      Separación de manera uniforme */

    /* Añadir espacio entre celdas/items */
    /* row-gap: 5px;
    column-gap: 30px; */

    /* Atajo gap */
    gap: 5px 30px;

    justify-content: center;                        /* Centra toda la cuadrícula dentro del section */
    background-color: #eaeaea;
    /* padding: 10px; */

    /* Alineación de los items */
    /* justify-items: center                           Centrar items verticalmente*/
    /* aling-items: end */
    /* place-items: end start;                         Atajo place-items = aling-items + justify-items */
    place-items: stretch;
    place-content: center;
}

.item-grid {
    background-color: goldenrod;
}

.item-5 {
    background-color: green;
}

/* .grid-container :nth-child(1) {
    background-color: #E74C3C;
}
.grid-container :nth-child(2) {
    background-color: indigo;
}
.grid-container :nth-child(3) {
    background-color: gold;
}
.grid-container :nth-child(4) {
    background-color: aquamarine;
}
.grid-container :nth-child(5) {
    background-color: green;
}
.grid-container :nth-child(6) {
    background-color: darkred;
} */

.contenedor-areas {
    display: grid;
    min-height: 400px;
    
    /* Fijamos número de columnas y filas */
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: 2fr auto 1fr;

    /* Plantilla de areas - Disposición del grid */
    grid-template-areas:
    "cabecera   cabecera    cabecera"
    "menu       principal   lateral"
    "pie        pie         pie"
    ;
    gap: 10px;
}

.area-header {
    /* Asignamos nombre de area */
    grid-area: cabecera;
    background-color: blue;
}

.area-menu {
    /* Asignamos nombre de area */
    grid-area: menu;
    background-color: green;
}

.area-main {
    /* Asignamos nombre de area */
    grid-area: principal;
    background-color: goldenrod;
}

.area-aside {
    /* Asignamos nombre de area */
    grid-area: lateral;
    background-color: aquamarine;
}

.area-footer {
    /* Asignamos nombre de area */
    grid-area: pie;
    background-color: red;
}

/* ============================ */
/*       ZONA DE JUEGOS         */
/* ============================ */

.tarjeta.juegos {
    width: min(1600px, 95%);
}

.lista-cards--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    /* minmax(280px, 1fr):
        - nunca menos de 280px
        - si jay espacio disponible, lo llena hasta ocupar el espacio sobrante 
    auto-fill:
        - intenta "llenar" la fila con el MÁXIMO múmero de columnas posible.
        - si no puede, quedarán huecos vacíos
    auto-fit:
        - colapsar los huevos vacíos, provocando que las cards se estiren y se AJUSTEN.*/
    gap: 16px;
}

.card-destacada {
    background-color: #73A4D5;
    /* grid-column: 2 / span 2; */
}

.celdas-irregulares {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    border: 1px solid black;
    gap: 10px;
}

.item-1 {
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* Atajo */
    grid-column: 1 / 3;

    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* Atajo */
    grid-row: 1 / 3;
}
.item-2 {
    background-color: yellow;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.item-3 {
    background-color: red;
    grid-column: 1 / span 4; /* span 4: Agrupa 4 celdas */
    grid-row: 3 / 4;
}

/* ================================================ */
/*   SECCION GUIAS (diferente estructura al resto)  */
/* ================================================ */

.guias h1 {
    margin-top: 0;
}

.guias-videos {
    margin-top: 2rem;
}

.guias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

/* Cada guía individual */
.guia-video h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* Ajuste de los iframes */
.guia-video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;  /* Mantiene el formato panorámico */
    border: 0;
    border-radius: 8px;
}

/* DISEÑO RESPONSIVE */
/* Media query para moviles */
@media (width <= 380px) {
    .juegos.tarjeta {
        width: 95%;
    }

    /* 1 sola columna flexible de juegos */
    .lista-cards--grid {
        grid-template-columns: minmax(220px, 1fr);
    }
}

/* Media query para tablets */
@media (width >= 380px) and (width<= 1024px) {
    .juegos.tarjeta {
        width: min(1000px, 95%);
    }

    /* 2 columnas flexible de juegos */
    .lista-cards--grid {
        grid-template-columns: repeat(2,minmax(240px, 1fr));
    }
}